Source: google-docs-fs
Section: utils
Priority: extra
Maintainer: Hironori OKAMOTO <k.ten87@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-support
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/google-docs-fs/

Package: google-docs-fs
Architecture: all
Depends: ${misc:Depends}, python-fuse, python-gdata
Description: A FUSE filesystem that connects to Google Docs.
 This will allow you to mount your Google Docs account as you would a
 normal filesystem. You will then be able to use it as if it were a
 file system on your hard disk, with all operations being transmitted
 seamlessly to Google Docs.
